.container
  %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  .navbar-brand Search for:
  .navbar-collapse.collapse.navbar-responsive-collapse
    %form.navbar-form.navbar-left{:role => "search"}
      = text_field_tag :search, params[:search], placeholder: 'wyszukaj',class: "form-control"
      = submit_tag "Search", :name => nil, class: "btn btn-info"
    %ul.nav.navbar-nav.navbar-right
      - if user_signed_in?
        %li= link_to current_user.email, profile_path(current_user.id)
        %li= link_to "Sign out", destroy_user_session_path, method: 'DELETE'
      - else
        %li= link_to "Sign up", new_user_registration_path
        %li= link_to "Sign in", new_user_session_path
