// jQuery('#flash_area').html(<%=%>);


$('#<%=@id%>').replaceWith('<div class="btn btn-success" disabled="disabled">' + "Item saved" + "</div>")
//$('#<%=@id%>').removeClass("btn-info").addClass("btn-success").replaceWith("ITEM SAVED");
//$('#<%=@id%>').replaceWith(<div class= "btn btn-success"'>Item saved </div>)




//$('#<%=@id%>').hide().append("<strong>Item saved</strong>");
