<h1>Products</h1>
	

<br>
<div class="table-responsive">
  <table class="table">
   
    <tbody>
    
      <% @items.each do |item| %>
      <tr>
            <td><img src="<%= item.thumb_url %>" class="img-thumbnail"></td>
  	        <td>
              <span><h5><%= item.name %> </h5><%= link_to "More", item.link %></span>
           
            <br><br> 
            <%= item.ending_time.to_s[0..15] %>
            </td>
  	        <td>
              <br><div class='item-price'><%= item.price %></div>
            <br>
            <%= link_to "Save item", products_path({:product => item.to_hash}), :method=> :post, remote: true, class: "btn save-item-btn", id: item.allegro_id %></td>
  	        
  	   </tr>
        
      <% end %>
    </tbody>
  </table>
</div>
