!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "MyAllegroApp"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
  %body
    #body-wrapper
      .navbar.navbar-default.navbar-static-top.my-nav
        = render 'shared/navigation_bar'
      -#= render 'shared/categories_sidebar'
      .container
        .row
          .col-md-12{"id:" => ""}
            = bootstrap_flash
            = yield
      .push
    = render :partial => 'shared/footer'
